section#contact
  .container
    .row
      .section-title.text-center.wow.fadeInDown
        h2 Contact Us
        p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
      .col-md-8.col-sm-9.wow.fadeInLeft
        .contact-form.clearfix
          form(action='index.html', method='post')
            .input-field
              input.form-control(type='text', name='name', placeholder='Your Name', required='')
            .input-field
              input.form-control(type='email', name='email', placeholder='Your Email', required='')
            .input-field.message
              textarea.form-control(name='message', placeholder='Your Message', required='')
            input.btn.btn-blue.pull-right#msg-submit(type='submit', value='SEND MESSAGE')
      .col-md-4.col-sm-3.wow.fadeInRight
        .contact-details
          span GET IN TOUCH
          p
            | +00 123.456.789
            br
            br
            | +00 123.456.789
        .contact-details
          span GET IN TOUCH
          p
            | +00 123.456.789
            br
            br
            | +00 123.456.789