footer#footer.text-center
  .container
    .row
      .col-lg-12
        .footer-logo.wow.fadeInDown
          img(src='public/img/logo.png', alt='logo')
        .footer-social.wow.fadeInUp
          h3 CATUS TRIP SNS 
          ul.text-center.list-inline
            li
              a(href='#')
                i.fa.fa-facebook.fa-lg
            li
              a(href='#')
                i.fa.fa-twitter.fa-lg
            li
              a(href='#')
                i.fa.fa-google-plus.fa-lg
            li
              a(href='#')
                i.fa.fa-dribbble.fa-lg
        .copyright
          p
            | Developed by
            a(target='_blank', href='#')  CATUS 