section#home
  #home-carousel.carousel.slide(data-interval='false')
    ol.carousel-indicators
      li.active(data-target='#home-carousel', data-slide-to='0')
      li(data-target='#home-carousel', data-slide-to='1')
      li(data-target='#home-carousel', data-slide-to='2')
      li(data-target='#home-carousel', data-slide-to='3')
      li(data-target='#home-carousel', data-slide-to='4')
      li(data-target='#home-carousel', data-slide-to='5')
      li(data-target='#home-carousel', data-slide-to='6')
    ///.carousel-indicators
    .carousel-inner
      .item.active(style='background-image: url("public/img/slider/bg1.jpg")')
        .carousel-caption
          .animated.bounceInRight.caption-1-bg
            h2
              | 
              strong 캐터스 트립
              | 에 오신걸 환영합니다. 
              br
              | 여행은 혼자보단 
              strong 여러명
              | 이 
              strong 답
              | 이다 
            p 
              | 세계 여행을 준비하는 모든 트리버를 위해 오프라인으로 진행을 도와드리는 트립사이트입니다.
              br
              | 혼자서는 두려워서 떠나기 힘들었던 분들에게 가이드가 함께 여행을 떠납니다.
              br
              | 내용은 템플릿이기 때문에 아무생각없이 적는점 이해해주세요. 
      .item(style='background-image: url("public/img/slider/bg2.jpg")')
        .carousel-caption
          .animated.bounceInDown.caption-2-bg
            h2
              | 아시아를 경험하라
              br
              p 전주, 서울, 부산, 베이징, 오사카, 도쿄 
            p
              | 템플릿이기 때문에 이곳은 내용을 입력하는 공간입니다.
              br
              | 이곳은 내용을 입력하는 공간입니다. 
              br
              | 이곳도 내용을 입력하는 공간입니다. 
      .item(style='background-image: url("public/img/slider/bg3.jpg")')
        .carousel-caption
          .animated.bounceInUp.caption-3-bg
            h2
              | 3번 슬라이드
              br
              | 제목입력하는 공간입니다. 
            p
              | 템플릿이기 때문에 이곳은 내용을 입력하는 공간입니다.
              br
              | 이곳은 내용을 입력하는 공간입니다. 
              br
              | 이곳도 내용을 입력하는 공간입니다. 
      .item(style='background-image: url("public/img/slider/bg4.jpg")')
        .carousel-caption
          .animated.zoomInLeft.caption-4-bg
            h2
              | 4번 슬라이드
              br
              | 제목입력하는 공간입니다. 
            p
              | 템플릿이기 때문에 이곳은 내용을 입력하는 공간입니다.
              br
              | 이곳은 내용을 입력하는 공간입니다. 
              br
              | 이곳도 내용을 입력하는 공간입니다. 
      .item(style='background-image: url("public/img/slider/bg5.jpg")')
        .carousel-caption
          .animated.zoomInRight.caption-5-bg
            h2
              | 5번 슬라이드
              br
              | 제목입력하는 공간입니다. 
            p
              | 템플릿이기 때문에 이곳은 내용을 입력하는 공간입니다.
              br
              | 이곳은 내용을 입력하는 공간입니다. 
              br
              | 이곳도 내용을 입력하는 공간입니다. 
      .item(style='background-image: url("public/img/slider/bg6.jpg")')
        .carousel-caption
          .animated.slideInLeft.caption-6-bg
            h2
              | 6번 슬라이드
              br
              | 제목입력하는 공간입니다. 
            p
              | 템플릿이기 때문에 이곳은 내용을 입력하는 공간입니다.
              br
              | 이곳은 내용을 입력하는 공간입니다. 
              br
              | 이곳도 내용을 입력하는 공간입니다. 
      .item(style='background-image: url("public/img/slider/bg7.jpg")')
        .carousel-caption
          .animated.slideInLeft.caption-7-bg
            h2
              | 7번 슬라이드
              br
              | 제목입력하는 공간입니다. 
            p
              | 템플릿이기 때문에 이곳은 내용을 입력하는 공간입니다.
              br
              | 이곳은 내용을 입력하는 공간입니다. 
              br
              | 이곳도 내용을 입력하는 공간입니다. 
    ///.carousel-inner
    nav#nav-arrows.nav-arrows.hidden-xs.hidden-sm.visible-md.visible-lg
      a.sl-prev.hidden-xs(href='#home-carousel', data-slide='prev')
        i.fa.fa-angle-left.fa-3x
      a.sl-next(href='#home-carousel', data-slide='next')
        i.fa.fa-angle-right.fa-3x