section#portfolio
  .section-title.text-center.wow.fadeInDown
    h2 캐터스 트립란?
    p 
      | 세계 여러곳을 소속가이드와 친구처럼 여행을 떠나봅시다.
      br
      | 희노애락을 캐터스 트립과 함께해보세요!
  nav.project-filter.clearfix.text-center.wow.fadeInLeft(data-wow-delay='0.5s')
    ul.list-inline
      li
        a.filter(href='javascript:;', data-filter='all') All
      li
        a.filter(href='javascript:;', data-filter='.asia') 아시아 
      li
        a.filter(href='javascript:;', data-filter='.europe') 유럽 
      li
        a.filter(href='javascript:;', data-filter='.america') 아메리카 
      li
        a.filter(href='javascript:;', data-filter='.africa') 아프리카 
  #projects.clearfix
    figure.mix.portfolio-item.asia
      img.img-responsive(src='public/img/portfolio/portfolio-4.jpg', alt='Portfolio Item')
      a.fancybox(href='public/img/portfolio/portfolio-4.jpg', title='Title One', rel='portfolio')
        span.plus
      figcaption.mask
        h3 일본 
        span 도쿄 나가사키 짬뽕거리  
    figure.mix.portfolio-item.africa
      img.img-responsive(src='public/img/portfolio/portfolio-2.jpg', alt='Portfolio Item')
      a.fancybox(href='public/img/portfolio/portfolio-2.jpg', title='Title Two', rel='portfolio')
        span.plus
      figcaption.mask
        h3 Awesome Image
        span Photography
    figure.mix.portfolio-item.america
      img.img-responsive(src='public/img/portfolio/portfolio-3.jpg', alt='Portfolio Item')
      a.fancybox(href='public/img/portfolio/portfolio-3.jpg', title='Title Three', rel='portfolio')
        span.plus
      figcaption.mask
        h3 Awesome Image
        span Photography
    figure.mix.portfolio-item.asia
      img.img-responsive(src='public/img/portfolio/portfolio-4.jpg', alt='Portfolio Item')
      a.fancybox(href='public/img/portfolio/portfolio-4.jpg', title='Title Four', rel='portfolio')
        span.plus
      figcaption.mask
        h3 Awesome Image
        span Photography
    figure.mix.portfolio-item.asia
      img.img-responsive(src='public/img/portfolio/portfolio-4.jpg', alt='Portfolio Item')
      a.fancybox(href='public/img/portfolio/portfolio-4.jpg', title='Title Five', rel='portfolio')
        span.plus
      figcaption.mask
        h3 Awesome Image
        span Photography
    figure.mix.portfolio-item.africa
      img.img-responsive(src='public/img/portfolio/portfolio-4.jpg', alt='Portfolio Item')
      a.fancybox(href='public/img/portfolio/portfolio-4.jpg', title='Title Six', rel='portfolio')
        span.plus
      figcaption.mask
        h3 Awesome Image
        span Photography
    figure.mix.portfolio-item.europe
      img.img-responsive(src='public/img/portfolio/portfolio-7.jpg', alt='Portfolio Item')
      a.fancybox(href='public/img/portfolio/portfolio-7.jpg', title='Title Seven', rel='portfolio')
        span.plus
      figcaption.mask
        h3 Awesome Image
        span Photography
    figure.mix.portfolio-item.america
      img.img-responsive(src='public/img/portfolio/portfolio-4.jpg', alt='Portfolio Item')
      a.fancybox(href='public/img/portfolio/portfolio-4.jpg', title='Title Eight', rel='portfolio')
        span.plus
      figcaption.mask
        h3 Awesome Image
        span Photography
    figure.mix.portfolio-item.europe
      img.img-responsive(src='public/img/portfolio/portfolio-9.jpg', alt='Portfolio Item')
      a.fancybox(href='public/img/portfolio/portfolio-9.jpg', title='Title Eight', rel='portfolio')
        span.plus
      figcaption.mask
        h3 Awesome Image
        span Photography