section#pricing
  .container
    .row
      .section-title.text-center.wow.fadeInUp
        h2 Pricing
        p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
      .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp
        .pricing-table.text-center
          .price
            span.plan Basic
            span.value
              small $
              strong 19
              | /MO
          ul.text-center
            li Feature N0 1
            li Feature N0 2
            li Feature N0 3
            li Feature N0 4
          a.btn.btn-price(href='#') Buy Now
      .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='0.3s')
        .pricing-table.text-center
          .price
            span.plan Premium
            span.value
              small $
              strong 29
              | /MO
          ul.text-center
            li Feature N0 1
            li Feature N0 2
            li Feature N0 3
            li Feature N0 4
          a.btn.btn-price(href='#') Buy Now
      .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='0.6s')
        .pricing-table.text-center
          .price
            span.plan Pro
            span.value
              small $
              strong 39
              | /MO
          ul.text-center
            li Feature N0 1
            li Feature N0 2
            li Feature N0 3
            li Feature N0 4
          a.btn.btn-price(href='#') Buy Now
      .col-md-3.col-sm-6.col-xs-12.wow.fadeInUp(data-wow-delay='0.9s')
        .pricing-table.text-center
          .price
            span.plan Platinum
            span.value
              small $
              strong 49
              | /MO
          ul.text-center
            li Feature N0 1
            li Feature N0 2
            li Feature N0 3
            li Feature N0 4
          a.btn.btn-price(href='#') Buy Now
    .row
      .col-md-12.wow.fadeInUp
        .special-plan.text-center
          p Contact us if you have special request
          a.btn.btn-blue(href='#') Contact Us