section#service
  .container
    .row
      .col-md-12
        .section-title.text-center.wow.fadeInDown
          h2 Services
          p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
    .row
      .col-md-6.col-sm-12.wow.fadeInLeft
        .media
          a.pull-left(href='#')
            img.media-object(src='img/icons/monitor.png', alt='Monitor')
          .media-body
            h3 Vorem amet intuitive
            p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
      .col-md-6.col-sm-12.wow.fadeInRight(data-wow-delay='0.2s')
        .media
          a.pull-left(href='#')
            img(src='img/icons/cog.png', alt='Cog')
          .media-body
            h3 Vorem amet intuitive
            p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
      .col-md-6.col-sm-12.wow.fadeInLeft
        .media
          a.pull-left(href='#')
            img(src='img/icons/ruler.png', alt='Ruler')
          .media-body
            h3 Vorem amet intuitive
            p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
      .col-md-6.col-sm-12.wow.fadeInRight(data-wow-delay='0.2s')
        .media
          a.pull-left(href='#')
            img(src='img/icons/camera.png', alt='Camera')
          .media-body
            h3 Vorem amet intuitive
            p Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.
section#service-bottom
  .container
    .mobile-device
      img.img-responsive.black.wow.fadeInLeftBig(data-wow-delay='0.2s', src='img/icons/iphone-black.png', alt='iPhone Black')
      |  
      img.img-responsive.white.wow.fadeInLeftBig(data-wow-delay='0.5s', src='img/icons/iphone-white.png', alt='iPhone White')
    .service-features.wow.fadeInRight
      h3 OUR DESIGNS COMES WITH...
      ul
        li Responsive Design
        li Modern And Clean Design
        li Clean Code
        li Browser Friendly